body{
    background-color: rgb(241, 202, 219)
       }

     #imagem {
   
      text-align: center;
             } 
th{
    color:rgb(218, 18, 168)
}
    table, th, td {
    border: 1px solid black;
    border-radius: 10%;
    }
    figure {
        border: 1px #cccccc solid;
        padding: 4px;
        margin: auto;
      }
      
      figcaption {
        background-color: black;
        color: white;
        font-style: italic;
        padding: 2px;
        text-align: center;
      }