body{
  font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255,192,203)
    
    
       }

     #imagem {
   
      text-align: center;
      } 
      caption{
        text-transform: uppercase;
        font-size: 20px;
        color: black

             }
th{
  font-weight: bold;
  text-align: center;
    color:rgb #DDA0DD
    
}
    table, th, td {
    border: 1px solid black;
    border-radius: 10%;
    }
    .color a{
      color: #FF69B4;
    }
    .color b {
      color:#AFEEEE;
    }
    .color c {
      color:#EE82EE;
    
    }
    .primeiro{
      
      color:#FF69B4;
    }
    .segundo{
      
      color:#AFEEEE;
    }
    .terceiro{
      
      color:#EE82EE
    }
    figure {
        border: 1px #cccccc solid;
        padding: 4px;
        margin: auto;
      }
      
      figcaption {
        background-color: black;
        color: white;
        font-style: italic;
        padding: 2px;
        text-align: center;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(248, 136, 205);
        color: white;
        text-align: center;
     }
     table{
      width: 100%;
      margin-bottom : .5em;
      table-layout: fixed;
      text-align: center;
    }
  td, th {
      padding: .7em;
      margin: 0;
      /*border: 1px solid #ccc;*/
      text-align: center;
    }
    
    tr{
      background-color: rgb(238, 165, 214);
    }
    td{
      background-color: #f0f0f0;
    }